<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上传</title>
</head>
<body>
<form action="#" enctype="multipart/form-data" method="post">
    <input type="text" name="bname" placeholder="书名">
    <input type="text" name="author" placeholder="作者">
    <input type="text" name="publisher" placeholder="出版社">
    <input type="number" name="price" placeholder="价格">
    <input type="number" name="quality" placeholder="质量">
    <input type="text" name="bclass" placeholder="类别">
    <p></p>
    <textarea name="discp" placeholder="描述你的书">
    </textarea>
    <p></p>
    <input type="file" name="bimg" placeholder="选择要上传的图片">
    <p></p>
    <input type="submit" placeholder="提交">
</form>
</body>
</html>